table.row {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
body {
  background-color: #DCDCDD;
}
td.navbutton {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  white-space: nowrap;
}
div.page {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid #8E97A5;
  max-width: 62.5rem;
}
img.banner {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 98%;
}
table.team {
  margin-left: 30px;
  margin-top: 30px;
}
td.picture {
  width: 20%;
  vertical-align: top;
}
u {
  text-decoration: underline;
}
span.name {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.5em;
}
p.dates {
  line-height: 1.4em;
  font-size: 1em;
}
table.accomplishments td {
  padding-top: .2rem;
  padding-bottom: .2rem
}
div.about {
  margin-right: 150px;
  margin-left: 150px
}
div.about p {
  line-height: 150%;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
div.about h2 {
  margin-bottom: 30px;
  font-family: Constantine, serif;
}
h4 {
  font-family: Verdana;
  font-size: 1.2em;
}
td.caption {
  text-align: center;
  background-color: white;
}
